<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag('/questions') do |f| %>
      <%= f.text_area :recommendations, class: 'form-control', rows: 10, value: @users %>
      <%= f.submit "Save recommendations", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
