<% provide(:title, "Set inputs") %>
<h1>Set inputs</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(updateInputs_path, method: "post") do %>

      <%= label_tag :input %>
      <input class="form-control" type="text" name="user[inputs][field1]">

      <%= label_tag :input %>
      <input class="form-control" type="text" name="user[inputs][field2]">

      <%= submit_tag "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
