<% provide(:title, "User info") %>
<h1>User info</h1>

<div class="row">
  <b>Basic info:</b>
  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Email: <%= @user.email %></li>
    <li>Inputs: <%= @user.inputs %></li>
  </ul>
</div><br/>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :recommendations %>
      <%= f.text_area :recommendations, class: 'form-control', rows: 10, value: @user.recommendations %>
      <%= f.submit "Save recommendations", class: "btn btn-primary" %>
    <% end %>
</div><br/>

<div class="row">
  <% if current_user.admin? && !current_user?(@user) %>
    <%= link_to "Delete user", @user, method: :delete,
                                 data: { confirm: "You sure?" } %>
  <% end %>
</div><br/>

<div class="row">
  <%= link_to "Back to all users", users_path %>
</div>
