<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Log out", sessions_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", sessions_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
